<html>

 <body>

  <% if (logged){ %>
    <script src="/cdn-cgi/apps/head/8ogjhEh6fF-fWtKQS_ctuJeMIMU.js"></script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-108451027-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108451027-2');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5200031016867720",
          enable_page_level_ads: true
     });
</script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Vary">
    <meta property="og:url" content="https://vary.website">
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/546490972901605386/3a9a61075a74ac697913ee032b2336a8.png?size=2048">
    <meta property="og:description" content="Olá, eu me chamo Vary e sou um bot que tem várias funções legais!">
    <meta name="theme-color" content="#7289DA">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title>Vary</title>
</head>
<body>
<div style="display: none; border-radius: 0; margin-bottom: 0;" id="good_news" class="notification is-info has-text-centered">
    <span id="good_news_text"></span>
    <a id="delete_good_news" class="delete is-large"></a>
</div>
<div style="display: none; border-radius: 0; margin-bottom: 0;" id="bad_news" class="notification is-danger has-text-centered">
    <span id="bad_news_text"></span>
</div>
<script>
const XHR = new XMLHttpRequest();
XHR.onreadystatechange = function () {
    if (this.readyState === 4 && this.status === 200) {
        const result = JSON.parse(this.responseText);
        if (result.good_news === null || result.good_news === undefined || result.good_news === '' || (localStorage.getItem('good_news') !== null &&Number(localStorage.getItem('good_news')) === result.good_news_counter)) {
            document.getElementById('good_news').style.display = 'none';
        }
        else {
            document.getElementById('good_news').style.display = null;
            document.getElementById('good_news_text').innerText = result.good_news;
            document.getElementById('delete_good_news').onclick = function () {
                document.getElementById('good_news').style.display = 'none';
                localStorage.setItem('good_news', result.good_news_counter);
            }
        }
        if (result.bad_news === null || result.bad_news === undefined || result.bad_news === '') {
            document.getElementById('bad_news').style.display = 'none';
        }
        else {
            document.getElementById('bad_news').style.display = null;
            document.getElementById('bad_news_text').innerText = result.bad_news;
        }
    }

};

XHR.open('GET', "/api/news", true);
XHR.send();
</script>
<nav class="navbar" style="background-color: #7289DA" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://vary.website">
            <img src="https://cdn.discordapp.com/avatars/546490972901605386/3a9a61075a74ac697913ee032b2336a8.png?size=2048">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="https://discordapp.com/api/oauth2/authorize?client_id=546490972901605386&permissions=8&scope=bot">Convite</a>
            <a class="navbar-item" href="/dashboard">Dashboard</a>
            <a class="navbar-item" href="/blog">Blog</a>
            <a class="navbar-item" href="/faq">FAQ</a>
            <a class="navbar-item" href="/commands">Comandos</a>
            <a class="navbar-item" href="/donate">Doar</a>
            <a class="navbar-item" href="/about">Sobre</a>
        </div>
        <div style="align-items: center;" class="navbar-end">
            <a style="font-weight: bold" class="navbar-item button is-info" href="/support">Suporte</a>
            <a id="themeSwitch" onclick="changeTheme();" class="navbar-item ">Tema Escuro</a>

            <a class="navbar-item" href="/dashboard"><%= username%></a>

        </div>
    </div>
</nav>
<section style="background-color: #7289DA;" class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    <h1 style="font-size: 2.7em; word-wrap: break-word;" class="title">Vary</h1>
                    <h2 style="font-size: 36px; color: #d0e4f8 !important;" class="subtitle">Melhor bot com funcionalidades incriveis</h2>
                    <div class="columns">
                        <a href="https://discordapp.com/api/oauth2/authorize?client_id=546490972901605386&permissions=8&scope=bot" class="column is-narrow home-button">
                            Convite
                        </a>
                        <a href="/dashboard" class="column is-narrow home-button">
                            Dashboard
                        </a>
                        <a href="/faq" class="column is-narrow home-button">
                            FAQ
                        </a>
                    </div>
                </div>
                <div class="container" style=" width: 630px; margin-left: .5rem; margin-top: 1rem; ">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" style="background-color: #2d3436 !important;">
    <h1 class="feature-title" style="text-align: center;  color: #eeeeee;">Minhas funcionalidades</h1>
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div class="" style=" margin-bottom: 1.25rem;">
                <p  style="text-align: center; margin-top: 2rem; color: #eeeeee;">
                    Sou um bot Português! Com várias funcinalidades tanto divertidas como de moderação!<br>
                    Todas as semanas (ou até mesmo dias) tenho novidades legais!
                </p>
            </div>
            <div class="" style=" margin-bottom: 1.25rem;">
                <h1 style="text-align: center; margin-top: 2em; color: #eeeeee;" class="feature-title">OwO Texto</h1>
                <p  style="text-align: center; margin-top: 2rem; color: #eeeeee;">Aqui ficará mais algum texto em breve OwO!</p>
            </div>
            <div class="" style=" margin-bottom: 1.25rem;">
                <h1 style="text-align: center; margin-top: 2em; color: #eeeeee;" class="feature-title">Facíl de usar</h1>
                <p style="text-align: center; margin-top: 2rem; color: #eeeeee;">Por enquanto todas funcionalidades são por comandos, mas meu Dashboard está sendo desenvolvido!</p>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="" style=" margin-bottom: 1.25rem;">
                <h1 style="text-align: center; margin-top: 2em; color: #eeeeee;" class="feature-title">Vantagens</h1>
                <p style="text-align: center; margin-top: 2rem; color: #eeeeee;">Parceiros, doadores todos cargos especiais têm suas vantagens você pode ver isso no meu servidor de Suporte!</p>
            </div>
            <div class="" style=" margin-bottom: 1.25rem;">
                <h1 style="text-align: center; margin-top: 2em; color: #eeeeee;" class="feature-title">Multi-Linguagem</h1>
                <p style="text-align: center; margin-top: 2rem; color: #eeeeee;">Estou sendo traduzido para quase todas linguas mais faladas em todo o planeta!</p>
            </div>
            <div class="" style=" margin-bottom: 1.25rem;">
                <h1 style="text-align: center; margin-top: 2em; color: #eeeeee;" class="feature-title">OwO Texto</h1>
                <p  style="text-align: center; margin-top: 2rem; color: #eeeeee;">Aqui ficará mais algum texto em breve OwO!</p>
            </div>
        </div>
    </div>
    <div class="" style=" margin-bottom: 1.25rem;">
        <h1 style="text-align: center; margin-top: 2em; font-size: 48px; color: #eeeeee;" class="feature-title">Convencido em usar-me?</h1>
        <p style="text-align: center; margin-top: 2rem; color: #eeeeee;">Pare de procurar por Bots! Clique em convidar e comece hoje mesmo a usar-me!</p>
        <br><br>
        <center>
            <a href="https://discordapp.com/api/oauth2/authorize?client_id=546490972901605386&permissions=8&scope=bot" class="home-button">Convidar</a>
        </center>
    </div>
</section>
<footer style="background-color: #7289DA" class="footer">
    <div class="content has-text-centered">
        <p class="text">Vary não é afiliado nem criado pelo Discord<br>
            Discord: ItsDiogo912#8350<br>
            Twitter: <a href="https://twitter.com/ImVaryBot">@maidVary</a><br>
            <a href="/tos">Terms of Service</a>
        </p>
    </div>
</footer>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
<style id="style"></style>
<script>
    document.addEventListener('DOMContentLoaded', () => {

  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  if ($navbarBurgers.length > 0) {

    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        const target = el.dataset.target;
        const $target = document.getElementById(target);

        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
<script>
let theme = localStorage.getItem('theme');
const style = document.getElementById('style');
const themeSwitch = document.getElementById('themeSwitch');
    if (!theme) {
        localStorage.setItem('theme', 'light');
        style.innerHTML = '';
        theme = 'light';
        themeSwitch.innerText = 'Dark Theme';
    }
    if (theme === 'light') {
        style.innerHTML = '';
        theme = 'light';
        themeSwitch.innerText = 'Dark Theme';
    }
    if (theme === 'dark') {
        style.innerHTML = 'body, html, nav, section, footer {\n' +
            '    background-color: #1c1c1c !important;\n' +
            '}';
        theme = 'dark';
        themeSwitch.innerText = 'Light Theme';
    }

    function changeTheme() {
        console.log(theme);
        if (!theme) {
        localStorage.setItem('theme', 'dark');
        style.innerHTML = 'body, html, nav, section, footer {\n' +
            '    background-color: #1c1c1c !important;\n' +
            '}';
        theme = 'dark';
        themeSwitch.innerText = 'Light Theme';
        }
        else if (theme === 'light') {
            localStorage.setItem('theme', 'dark');
            style.innerHTML = 'body, html, nav, section, footer {\n' +
                '    background-color: #1c1c1c !important;\n' +
                '}';
            theme = 'dark';
            themeSwitch.innerText = 'Light Theme';
        }
        else if (theme === 'dark') {
            localStorage.setItem('theme', 'light');
            style.innerHTML = '';
            theme = 'light';
            themeSwitch.innerText = 'Dark Theme';
        }
    }
</script>

  <% } else { %>

    <script src="/cdn-cgi/apps/head/8ogjhEh6fF-fWtKQS_ctuJeMIMU.js"></script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-108451027-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108451027-2');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5200031016867720",
          enable_page_level_ads: true
     });
</script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Vary">
    <meta property="og:url" content="https://vary.website">
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/546490972901605386/3a9a61075a74ac697913ee032b2336a8.png?size=2048">
    <meta property="og:description" content="Olá, eu me chamo Vary e sou um bot que tem várias funções legais!">
    <meta name="theme-color" content="#7289DA">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title>Vary</title>
</head>
<body>
<div style="display: none; border-radius: 0; margin-bottom: 0;" id="good_news" class="notification is-info has-text-centered">
    <span id="good_news_text"></span>
    <a id="delete_good_news" class="delete is-large"></a>
</div>
<div style="display: none; border-radius: 0; margin-bottom: 0;" id="bad_news" class="notification is-danger has-text-centered">
    <span id="bad_news_text"></span>
</div>
<script>
const XHR = new XMLHttpRequest();
XHR.onreadystatechange = function () {
    if (this.readyState === 4 && this.status === 200) {
        const result = JSON.parse(this.responseText);
        if (result.good_news === null || result.good_news === undefined || result.good_news === '' || (localStorage.getItem('good_news') !== null &&Number(localStorage.getItem('good_news')) === result.good_news_counter)) {
            document.getElementById('good_news').style.display = 'none';
        }
        else {
            document.getElementById('good_news').style.display = null;
            document.getElementById('good_news_text').innerText = result.good_news;
            document.getElementById('delete_good_news').onclick = function () {
                document.getElementById('good_news').style.display = 'none';
                localStorage.setItem('good_news', result.good_news_counter);
            }
        }
        if (result.bad_news === null || result.bad_news === undefined || result.bad_news === '') {
            document.getElementById('bad_news').style.display = 'none';
        }
        else {
            document.getElementById('bad_news').style.display = null;
            document.getElementById('bad_news_text').innerText = result.bad_news;
        }
    }

};

XHR.open('GET', "/api/news", true);
XHR.send();
</script>
<nav class="navbar" style="background-color: #7289DA" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://vary.website">
            <img src="https://cdn.discordapp.com/avatars/546490972901605386/3a9a61075a74ac697913ee032b2336a8.png?size=2048">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item" href="https://discordapp.com/api/oauth2/authorize?client_id=546490972901605386&permissions=8&scope=bot">Convite</a>
            <a class="navbar-item" href="/dashboard">Dashboard</a>
            <a class="navbar-item" href="/blog">Blog</a>
            <a class="navbar-item" href="/faq">FAQ</a>
            <a class="navbar-item" href="/commands">Comandos</a>
            <a class="navbar-item" href="/donate">Doar</a>
            <a class="navbar-item" href="/about">Sobre</a>
        </div>
        <div style="align-items: center;" class="navbar-end">
            <a style="font-weight: bold" class="navbar-item button is-info" href="/support">Suporte</a>
            <a id="themeSwitch" onclick="changeTheme();" class="navbar-item ">Tema Escuro</a>

            <a class="navbar-item" href="/log">Login</a>

        </div>
    </div>
</nav>
<section style="background-color: #7289DA;" class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    <h1 style="font-size: 2.7em; word-wrap: break-word;" class="title">Vary</h1>
                    <h2 style="font-size: 36px; color: #d0e4f8 !important;" class="subtitle">Melhor bot com funcionalidades incriveis</h2>
                    <div class="columns">
                        <a href="https://discordapp.com/api/oauth2/authorize?client_id=546490972901605386&permissions=8&scope=bot" class="column is-narrow home-button">
                            Convite
                        </a>
                        <a href="/dashboard" class="column is-narrow home-button">
                            Dashboard
                        </a>
                        <a href="/faq" class="column is-narrow home-button">
                            FAQ
                        </a>
                    </div>
                </div>
                <div class="container" style=" width: 630px; margin-left: .5rem; margin-top: 1rem; ">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" style="background-color: #2d3436 !important;">
    <h1 class="feature-title" style="text-align: center;  color: #eeeeee;">Minhas funcionalidades</h1>
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div class="" style=" margin-bottom: 1.25rem;">
                <p  style="text-align: center; margin-top: 2rem; color: #eeeeee;">
                    Sou um bot Português! Com várias funcinalidades tanto divertidas como de moderação!<br>
                    Todas as semanas (ou até mesmo dias) tenho novidades legais!
                </p>
            </div>
            <div class="" style=" margin-bottom: 1.25rem;">
                <h1 style="text-align: center; margin-top: 2em; color: #eeeeee;" class="feature-title">OwO Texto</h1>
                <p  style="text-align: center; margin-top: 2rem; color: #eeeeee;">Aqui ficará mais algum texto em breve OwO!</p>
            </div>
            <div class="" style=" margin-bottom: 1.25rem;">
                <h1 style="text-align: center; margin-top: 2em; color: #eeeeee;" class="feature-title">Facíl de usar</h1>
                <p style="text-align: center; margin-top: 2rem; color: #eeeeee;">Por enquanto todas funcionalidades são por comandos, mas meu Dashboard está sendo desenvolvido!</p>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="" style=" margin-bottom: 1.25rem;">
                <h1 style="text-align: center; margin-top: 2em; color: #eeeeee;" class="feature-title">Vantagens</h1>
                <p style="text-align: center; margin-top: 2rem; color: #eeeeee;">Parceiros, doadores todos cargos especiais têm suas vantagens você pode ver isso no meu servidor de Suporte!</p>
            </div>
            <div class="" style=" margin-bottom: 1.25rem;">
                <h1 style="text-align: center; margin-top: 2em; color: #eeeeee;" class="feature-title">Multi-Linguagem</h1>
                <p style="text-align: center; margin-top: 2rem; color: #eeeeee;">Estou sendo traduzido para quase todas linguas mais faladas em todo o planeta!</p>
            </div>
            <div class="" style=" margin-bottom: 1.25rem;">
                <h1 style="text-align: center; margin-top: 2em; color: #eeeeee;" class="feature-title">OwO Texto</h1>
                <p  style="text-align: center; margin-top: 2rem; color: #eeeeee;">Aqui ficará mais algum texto em breve OwO!</p>
            </div>
        </div>
    </div>
    <div class="" style=" margin-bottom: 1.25rem;">
        <h1 style="text-align: center; margin-top: 2em; font-size: 48px; color: #eeeeee;" class="feature-title">Convencido em usar-me?</h1>
        <p style="text-align: center; margin-top: 2rem; color: #eeeeee;">Pare de procurar por Bots! Clique em convidar e comece hoje mesmo a usar-me!</p>
        <br><br>
        <center>
            <a href="https://discordapp.com/api/oauth2/authorize?client_id=546490972901605386&permissions=8&scope=bot" class="home-button">Convidar</a>
        </center>
    </div>
</section>
<footer style="background-color: #7289DA" class="footer">
    <div class="content has-text-centered">
        <p class="text">Vary não é afiliado nem criado pelo Discord<br>
            Discord: ItsDiogo912#8350<br>
            Twitter: <a href="https://twitter.com/ImVaryBot">@maidVary</a><br>
            <a href="/tos">Terms of Service</a>
        </p>
    </div>
</footer>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body>
<style id="style"></style>
<script>
    document.addEventListener('DOMContentLoaded', () => {

  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  if ($navbarBurgers.length > 0) {

    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        const target = el.dataset.target;
        const $target = document.getElementById(target);

        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
<script>
let theme = localStorage.getItem('theme');
const style = document.getElementById('style');
const themeSwitch = document.getElementById('themeSwitch');
    if (!theme) {
        localStorage.setItem('theme', 'light');
        style.innerHTML = '';
        theme = 'light';
        themeSwitch.innerText = 'Dark Theme';
    }
    if (theme === 'light') {
        style.innerHTML = '';
        theme = 'light';
        themeSwitch.innerText = 'Dark Theme';
    }
    if (theme === 'dark') {
        style.innerHTML = 'body, html, nav, section, footer {\n' +
            '    background-color: #1c1c1c !important;\n' +
            '}';
        theme = 'dark';
        themeSwitch.innerText = 'Light Theme';
    }

    function changeTheme() {
        console.log(theme);
        if (!theme) {
        localStorage.setItem('theme', 'dark');
        style.innerHTML = 'body, html, nav, section, footer {\n' +
            '    background-color: #1c1c1c !important;\n' +
            '}';
        theme = 'dark';
        themeSwitch.innerText = 'Light Theme';
        }
        else if (theme === 'light') {
            localStorage.setItem('theme', 'dark');
            style.innerHTML = 'body, html, nav, section, footer {\n' +
                '    background-color: #1c1c1c !important;\n' +
                '}';
            theme = 'dark';
            themeSwitch.innerText = 'Light Theme';
        }
        else if (theme === 'dark') {
            localStorage.setItem('theme', 'light');
            style.innerHTML = '';
            theme = 'light';
            themeSwitch.innerText = 'Dark Theme';
        }
    }
</script>

  <% } %>

</body>

</html>