<html>
    <h1 align="center">INTRODUÇÃO E ACEITAR OS TERMOS</h1>
• Ao usar ou acessar o site do Vary, você concorda com todos os Termos de Serviço.

<h1 align="center">VOCÊ</h1>
• Você é responsável por sua conta e suas doações para o Vary.

<h1 align="center">REGRAS DE CONDUTA E UTILIZAÇÃO</h1>
• Difamar, ridicularizar, ameaçar, assediar, intimidar ou abusar do Vary/Equipe do Vary;
• tentativa de obter senhas ou outras informações privadas de outros membros;
• Abusar de bugs/erros encontrados no back-end do Vary
Todas as linhas acima podem resultar em proibição de usar o Vary.

<h1 align="center">DOAÇÕES</h1>
Todas as doações são para ajudar no desenvolvimento do Vary e não são reembolsaveis.

<h1 align="center">COPYRIGHT</h1>
Permitido: 
• Modificar
• Distribuição
• Uso privado
Condições:
• Mesma licença 
• Créditos ao criador (ItsDiogo912)
• Projeto Open Source
</html>