
.main {
    background-color: #7289da;
    margin: 0;
}

.header {
    background-color: #7289da;
    overflow: hidden;
    padding: 10px 10px;
    z-index: 2;
}

.header-success {
    background-color: #27ae60;
    overflow: hidden;
    padding: 10px 10px;
}

.header-failure {
    background-color: #e74c3c;
    overflow: hidden;
    padding: 10px 10px;
}


.header-right {
    float: right;
    z-index: 2
}

.title {
    font-size: 64px;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.subtitle {
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.text {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Arial', sans-serif;
    transition: opacity 1s ease-in-out;

}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    height: 256px;
    width: 256px;
    }

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 2;
}

.dropbtn {
    font-size: 24px;
    z-index: 2;
}

li.dropdown {
    display: inline-block;
    z-index: 2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-left: -7rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    max-width: 10em;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: 50px;
    font-size: 1em;
    z-index: 2;

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.button-red {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: none;
    color: black;
    background-color: #e74c3c;
    padding: 15px 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: auto;
    height: auto;
    margin-bottom: 25px;
    box-shadow: 0px 1px 1px #18191C;
    border-radius: 3px;
}

.button-red:hover {
    background-color: black; /* Green */
    color: white;
    opacity: 1;
    cursor: pointer;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: none;
    color: black;
    background-color: #f5f6fa;
    padding: 15px 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: auto;
    height: auto;
    margin-bottom: 25px;
    box-shadow: 0px 1px 1px #18191C;
    border-radius: 3px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    opacity: 1;
}

.avatar-2 {
    display: inline;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    width: 6rem;
    height: 6rem;
}

.name {
    display: inline;
    font-family: uni_sansheavy_caps;
    max-font-size: 2vw;
    min-font-size: 1vw;
    color: white;
    padding-left: 10px;
    vertical-align: middle;

}

.guild_name {
    display: inline;
    font-family: uni_sansheavy_caps;
    min-font-size: 1vh;
    max-font-size: 3vh;
    color: white;
    vertical-align: middle;
    text-decoration: none;
}

.wb {
    display: block;
    font-family: uni_sansheavy_caps;
    font-size: 4vw;
    color: white;
    text-align: left;
    padding-left: 10px;
    margin-top: -10px;
    }

.success {
    display: block;
    font-family: uni_sansheavy_caps;
    font-size: 2rem;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.line {
    border-width: 0.2rem;
    border-style: solid;
    color: white;
}

.base-button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 1vw 2vw;
    margin-right: 1em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    height: 1.5rem;
    margin-bottom: 25px;
    border-radius: 3px;
    width: 7%;
    box-shadow: 0px 1px 1px #18191C;
}

@media screen and (max-width: 1024px) {
    .base-button {
        display: inline-block;
        width: 25%;
        padding: 5vh 36.775vw;
        margin-right: 0;
    }
}

.button-disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.xbox {
    color: black;
    background-color: #f5f6fa;
    border: 2px solid #f5f6fa;
}

.xbox:hover {
    border: 2px solid #107c10;
    background-color: #f5f6fa;
    color: #107c10;
    opacity: 1;
}

.twitter {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.twitter:hover {
    border: 2px solid #00aced;
    background-color: #f5f6fa;
    color: #00aced;
    opacity: 1;
}

.steam {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.steam:hover {
    border: 2px solid #000000;
    background-color: #f5f6fa;
    color: #000000;
    opacity: 1;
}

.captcha {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.captcha:hover {
    border-image: linear-gradient(to right, #008744 25%, #0057e7 25%, #0057e7 50%, #d62d20 50%, #d62d20 75%, #ffa700 75%) 5;
    background-color: #f5f6fa;
    color: black;
    opacity: 1;
}

.ow {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.ow:hover {
    border: 2px solid #00CEE8;
    background-color: #f5f6fa;
    color: #00CEE8;
    opacity: 1;
}

.reddit {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.reddit:hover {
    border: 2px solid #ff4500;
    background-color: #f5f6fa;
    color: #ff4500;
    opacity: 1;
}

.youtube {
    color: black;
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
}

.youtube:hover {
    border: 2px solid #FF0000;
    background-color: #f5f6fa;
    color: #FF0000;
    opacity: 1;
}

.buttons {
display: flex;
justify-content: center;
}

.error {
    background-color: #e74c3c;
    margin: 0;
}

.success-body {
    background-color: #27ae60;
    margin: 0;
}

.choose {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
    overflow: hidden;
    background-color: #f5f6fa;
    border: none;
    padding: 5px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 1px #18191C;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    text-align: center;
    width: 300px;
    height: 50px;
    transition: opacity 1s ease-in-out;
    color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider.true {
    background-color: #23d160;
}
input:checked + .slider:before + slider.true-dash {
    background-color: #23d160;
}

input:checked + .slider.raidmode {
    background-color: #ff3860;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.popper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 512px;
    width: 512px;
}

.sum-fonts {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media screen and (max-width: 1024px) {
    .buttons {
        display: block;
    }
}

@font-face {
    font-family: 'uni_sansheavy_caps';
    src: url('uni_sans_heavy-webfont.woff2') format('woff2'),
         url('uni_sans_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.servers {
    display: none;
    position: relative;
    left: 14rem;
    width: calc(100% - 14rem);
    height: 100%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    top: 8.4rem;
    overflow: auto;
}

.server-card {
    text-overflow: ellipsis;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    padding-top: 10px;
    text-decoration: none;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 13rem;
    padding: 5px;
    border-top: 0.2em solid white;
    border-right: 0.2em solid white;
    color: white;
    margin-top: -0.2rem;
    align-items: center;
    height: calc(100% -  9rem);
    top: 8.4rem;
    overflow-y: auto;
    background-color: #7289DA;
    z-index: 1;
}

.menu-wb {
    font-family: uni_sansheavy_caps;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    font-size: 1rem;
}

.menu-button {
    border-width: 1px;
    border-style: solid;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 1rem;
    width: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    word-wrap: break-word;
}

.menu-link {
    display: block;
    color: white;
    font-family: uni_sansheavy_caps;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.profile {
    position: relative;
    margin-left: 16em;
    height: calc(100vh -  8.4rem);
    justify-content: center;
    align-items: baseline;
    overflow: auto;
    z-index: 0;
    top: 8.4rem;
    display: flex;
    flex-flow: row wrap;
}

.profile-card {
    display: inline-block;
    max-width: 20vw;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 5px black;
    background-color: #2d3436;
    z-index: 1;
    margin: 5px;
    min-width: 15rem;
    padding: 5px;

}

.profile-name {
    font-family: uni_sansheavy_caps;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.profile-status {
    display: inline;
    text-align: center;
    color: white;
}

.profile-auto {
    display: inline-block;
    margin: 5px;
    background-color: #2d3436;
    box-shadow: 1px 1px 5px black;
    border-radius: 3px;
}

.profile-auto-footer {
    align-items: stretch;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid white;
}

.profile-option {
    display: block;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .75rem;
    border-right: 1px solid white;
    width: 14%;
    text-decoration: none;
}

.profile-explain {
    display: inline-block;
    width: 25rem;
    margin: 5px;
    background-color: #2d3436;
    border-radius: 3px;
    box-shadow: 1px 1px 10px black;
}

.dash-choose {
    overflow: hidden;
    background-color: #485460;
    border: none;
    padding: 5px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 1px #18191C;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    text-align: left;
    height: 32px;
    width: auto;
    transition: opacity 1s ease-in-out;
    color: white;
}

.dash-input {
    overflow: hidden;
    background-color: #485460;
    border: none;
    padding: 5px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 1px #18191C;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    text-align: left;
    height: 32px;
    transition: opacity 1s ease-in-out;
    color: white;
}

.dash-input:disabled {
    opacity: 0.6;
}

.pulsating-circle:before {
  -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
          animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}


@keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0.5;
  }
}

.verif-method {
    display: inline-block;
    color: white;
    margin-right: 8px;
    box-shadow: 0px 1px 1px #18191C;
    border-radius: 3px;
    padding: 5px;
}

.is-on {
    background-color: #23d160;
}

.is-off {
    background-color: #ff3860;
}

.logging-method {
    display: inline-block;
    color: white;
    margin-right: 4px;
    box-shadow: 0px 1px 1px #18191C;
    border-radius: 3px;
    padding: 5px;
}

a {
    outline: 0;
    text-underline: none;
    text-decoration: none;
}

a:hover {
    opacity: 0.65;

}

.tos-card {
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 10px black;
    background-color: #2d3436;
    max-width: 99%
}

.background-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh;
    height: 100vh
}



